@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Concert+One&family=DM+Sans:opsz,wght@9..40,700&family=Hind:wght@300;400;500;600;700&family=Inter:wght@100..900&family=Madimi+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&display=swap');
*{
  margin: 0%;
  padding: 0%;
}
:root{
  background-color:rgb(68, 32, 230);
}
body{
  background-color:rgb(68, 32, 230);

    font-family: "Patua One", serif;
    font-weight: 0;
    font-style: normal;
  height: 100vh;
  width: 100vw
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* Home---------------------------------- */
.home-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.quiz_head{
  color: white;
}

.play{
  color: white;
  background-color: rgb(13, 184, 13);
  padding: 0.7% 2% 0.7% 2%;
  border-radius: 50px;
  width:150px;
}

/* Question-------------------------------- */
.question-container{
  background-color:rgb(255, 255, 255);
  color: black;
  height: 80vh;
  width: 80vw;
  text-align: center;
  padding-top: 30px;
}


.options-container {
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  margin-left: 100px;
  grid-gap: 10px; 
  color: white;
}

.ques_no{
  padding-right: 1000px;
  font-size: 20px;
}

h2{
  margin: 70px auto;
}

.options-container p{
  font-size: x-large;
  margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(10, 117, 163);
  border-radius: 50px;
  width: 450px;
  padding: 2%;
}

.button-container{
  margin-top: 30px;
}

.button-container button{
  font-size: 20px;
  padding: 5px;
  margin-top: 30px
}

.button_prev{
  background-color: rgb(76, 105, 235);
  
}

.button_next{
  background-color: green;
}

.button_quit{
  background-color: red;
  margin: 0px 15px;
}


.previous,.next,.quit{
  /* padding: 1% 1%; */
}

/* Result---------------------------------- */
.result-container{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:rgb(68, 32, 230);
  color: black;
  margin-top: 10vh;
}

.result{
  font-size: xx-large;
  color: rgb(13, 141, 13);
  margin-bottom: 10px;
}

.resulter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  text-align: center;
  background-color: white;
}

.feedback{
  font-size: large;
}

.score{
  font-size: xx-large;
  color: blue;
  font-weight: 700;
}

.result-container div{
  display: flex;
  margin: auto;
  width: 40vw;
  font-size: large;
  font-weight: 700;
}

.stats{
  flex: 1;
  text-align: start;
}

.result-buttons{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.play-again{
  color: blue;
  background-color: rgb(236, 223, 206);
}

.back-home{
  color: green;
  background-color: rgb(236, 223, 206);
}